
@media only screen and (min-width : 1200px) {
    .ew-carousel {
        width: 100%;
        max-width: 1140px;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
        top: 50%;
    }

    .ew-carousel .carousel-caption {
        position: absolute;
        background-color: #A82F71;
        top: 60px;
        right: 0;
        left: 130px;
        bottom: 60px;
        padding: 0;
        width: 470px;
        height: 310px;
    }

}
