
// Basic Styles

body {
    // font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.ew-main-content {
    margin-bottom: 120px;

    p {
        font-family: 'Roboto Slab', serif;
        font-size: 17px;
        line-height: 30px;
        padding-bottom: 10px;

        strong {
            font-weight: 700;
        }
    }

    a {
        text-decoration: underline;
    }

    img {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    ul {
        padding-left: 20px;

        li {
            font-size: 17px;
            line-height: 30px;
        }
    }

    h2 {
        color: @brand-primary;
        font-size: 24px;
        line-height: 30px;
    }

    h3 {
        color: #333;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
    }

    h4 {
        color: #666;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    blockquote {
        font-style: italic;
        color: @brand-primary;;
        font-size: 24px;
        line-height: 34px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-left: 5px solid @brand-primary;
    }

    table {
        margin-top: 20px;
        margin-bottom: 30px;

        th {
            color: @brand-primary;
            font-size: 17px;
            line-height: 30px;
            border-top: 1px solid #eeeeee;
            border-bottom: 3px solid @brand-primary;
        }

        td {
            font-size: 17px;
            line-height: 30px;
            border-bottom: 1px solid #eeeeee;
        }
    }

}

.ew-listing-page p {
    font-family: 'Roboto Slab', serif;
    padding-bottom: 30px;

    strong {
        color: @brand-primary;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
    }
}

h1 {
    color: @brand-primary;
    font-weight: normal;
    margin-bottom: 50px;
}

// Structure

.ew-fullwidth.header {
    background-color: #fff;
}

.not-front .ew-fullwidth.navigation {
    margin-bottom: 70px;
}

.ew-fullwidth.navigation {
    background-color: #fff;
}

.ew-fullwidth.carousel {
	padding-bottom: 25px;
}

.ew-fullwidth.teaser {
	padding-bottom: 50px;
}

.ew-fullwidth.main-content {
    margin-top: 60px;
}

.ew-fullwidth.main-content-full {
    margin-top: 60px;
    margin-bottom: 75px;
}

.ew-fullwidth.claim {
    background-color: #eeeeee;
	padding-bottom: 20px;
}

.ew-fullwidth.footer {
    background-color: @brand-primary;
}

// Header

ul.ew-langswitcher {
    float: left;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;

    li {
        margin-left: 5px;
        display: inline;
        list-style-type: none;

        a {
            color: #000;
            margin-right: 3px;
            line-height: 60px;

            &.active,
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


ul.ew-social-media {
    float: left;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}
ul.ew-social-media li {
    display: inline;
    list-style-type: none;
}
ul.ew-social-media li a {
    color: #000;
    margin-right: 3px;
    line-height: 49px;
}

.ew-navbar-form {
    float: left;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.ew-form-control {
    border-radius: 0;
    border: 1px solid #d8d8d8;
    border-right: none;
    height: 40px;
    box-shadow: none;
}

.input-group-btn.ew-input-group-btn.cust-input-group-btn .ew-btn-default {
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
}

i.glyphicon.glyphicon-search {
    color: #878787;
}

.ew-btn-default {
    border-radius: 0;
}
.ew-donate-now {
    margin-top: 10px;
    background-color: @brand-primary;
    color: #fff;
    border: none;
    line-height: 28px;
    height: 40px;
}
.ew-donate-now:hover {
    background-color: @brand-primary;
    color: #fff;
    border: none;
}
.ew-btn-default.ew-donate-now {
    float: right;
}

.donate-mobile-button {
    display: block;
    float: right;
    width: 43px;
    height: 41px;
    margin-top: 19px;
    background: @brand-primary url('/sites/all/themes/easyweb/images/donate-heart-icon-button-mobile.png') center no-repeat;

    &:hover {
        cursor: pointer;
    }
}

.mobile-language-switcher .ew-langswitcher {
    display:block;
    float:none;
    margin:0 auto;
    text-align:center;
    width:90%;
    border-top:1px solid #cccccc;

    a {
        color: #777777;

        &.active {
            color: @brand-primary;
        }

    }

}

// Navbar

.ew-navbar-brand img {
    margin-top: 19px;
    max-height: 41px;
}

.navbar-nav {
    margin-top: 0;
}

.navbar-toggle {
    width: 43px;
    height: 41px;
    background-color: #eeeeee;
    border-radius: 0;
    border: none;
    margin-top: 19px;
}

.ew-navbar-default {
	border: none;
}

.ew-navbar-header {
	background-color: #fff;
	border: none;
}

.ew-navbar-brand {
	padding-top: 0;
	padding-left: 0;
}

.ew-navbar-toggle {
	margin-right: 0;
	margin-bottom: 20px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.ew-navbar-nav li a {
    text-align: center;
	margin-left: 0;
    background-color: #eeeeee;
}

ul.ew-navbar-nav {
    margin-top: 10px;

    & > li > a {

        &:after {
            margin: 0 auto;
            margin-top: 5px;
            height: 3px;
            display: block;
            width: 100px;
            background: #eeeeee;
            content: '';
        }
    }
}

ul.ew-navbar-nav > li.active > a,
ul.ew-navbar-nav > li.active > a:hover,
ul.ew-navbar-nav > li > a:hover {
    color: @brand-primary;

    &:after {
        margin: 0 auto;
        margin-top: 5px;
        height: 3px;
        display: block;
        width: 100px;
        background: @brand-primary;
        content: '';
    }
}

ul.ew-navbar-nav li ul {
    padding-bottom: 20px;

    li a,
    li a.active,
    li a.active:hover,
    li a:hover {
        font-weight: 400;
        background-color: #eeeeee;
    }

}

.navbar-nav .open .dropdown-menu > li > a {
    padding: 0;
    padding-bottom: 5px;
}

.ew-example-navbar-collapse-1 .ew-langswitcher a:hover {
    background-color: transparent;

    &:after {
        display: none;
    }
}

/*--- CAROUSEL --*/

.ew-carousel {
    display: block;
    height: auto;
    line-height: 1;
    margin: 0 auto;
}

.ew-carousel .carousel-caption {
    position: relative;
    background-color: @brand-primary;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    height: 320px;
    text-shadow: none;
}

.ew-carousel .carousel-caption h1 {
    color: #fff;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 20px;
}

.ew-carousel .carousel-caption p {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    a {

    }

}

.ew-carousel-indicators {
    display: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    top: 20%;
}

/*--- CAROUSEL / SLIDESHOW ---*/

.field-name-field-page-gallery-title {
    font-size: 17px;
    line-height: 30px;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 1px;
    background-color: @brand-primary;
}
#carousel-example-generic img {
    width: 100%;
    margin: 0;
}

.ew-slideshow .carousel-control .glyphicon-chevron-left,
.ew-slideshow .carousel-control .glyphicon-chevron-right {
    top: 50%;
}

// Front

.ew-front-teaser.box {

    h2 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
        color: @brand-primary;
    }

    p {
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        line-height: 20px;
    }

    a,
    a.btn.btn-default {
        color: @brand-primary;
        padding: 0;
        background-color: transparent;
        border: none;
        text-decoration: underline;
    }

}

// Claim

.jumbotron {
    margin-top: 10px;
    margin-bottom: 10px;
}

.claim p {
    color: #7E7E7E;
}

/*--- NEWS ---*/

.pane-node-field-news-date span.date-display-single {
    display: block;
    margin-bottom: 30px;
}

.ew-row.news {
    border-bottom: 1px solid #eeeeee;
}

.ew-row.news:first-child {
    border-top: 1px solid #eeeeee;
}

.ew-row.news span.date-display-single,
.ew-row.news span.span-this {
    float: left;
    display: inline;
    font-size: 16px;
    line-height: 24px;
}

.ew-row.news h2 {
    color: @brand-primary;
    margin-bottom: 10px;
}
.ew-row.news p {
    font-size: 16px;
    line-height: 24px;
}

.ew-row.news img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ew-row.news p.ew-news-date {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
}

// Listing Pages

.ew-listing-page p {
    font-size: 20px;
    line-height: 30px;
}

// Team Overview

.page-team h2 {
    clear: both;
    margin-bottom: 33px;
}

.ew-team {
    margin-bottom: 40px;

        h3 {
            color: @brand-primary;
            margin-bottom: 5px;
        }

        h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }

        img {
            border-top: 5px solid @brand-primary;
        }

        p {
            margin-bottom: 0;
        }
}

.ew-team-contact {
    padding-top: 15px;

    a {
        color: @brand-primary;
        text-decoration: underline;
        margin-bottom: 5px;
    }
}

// Sidebar

ul.views-summary {
    padding-left: 0;
}

.ew-sidebar-box {
    padding: 20px;
}

.ew-sidebar {
    margin-top: 20px;
}

.ew-sidebar.news {
    margin-top: 0;
}

.ew-sidebar-box-wrapper {
    margin-bottom: 20px;

    img {
        margin-bottom: 20px;
    }

    h3 {
        margin-top: 0;
        font-size: 24px;
        line-height: 28px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    &.style-one {
        background-color: #f2f0f0;

        h3 {
            color: @brand-primary;
        }

        p {
            color: #333;
        }

        a.btn.btn-default {
            color: @brand-primary;
            padding: 0;
            background-color: transparent;
            border: none;
            text-decoration: underline;
        }

    }

    &.style-two {
        background-color: @brand-primary;

        h3 {
            color: #fff;
        }

        p {
            color: #fff;
        }

        a.btn.btn-default {
            margin-top: 15px;
        }

    }

    &.style-three {
        background-color: #fff;

        h3 {
            color: @brand-primary;
        }

        a.btn.btn-default {
            color: @brand-primary;
            padding: 0;
            background-color: transparent;
            border: none;
            text-decoration: underline;
        }

    }

}

.pane-news-archive-news-archive-content-pane,
.pane-news-category-news-category-content-pane,
.pane-events-category-summary-events-category-content-pane,
.pane-events-archive-events-archive-content-pane {
    color: #666;
    background-color: #eeeeee;
    margin-bottom: 30px;
    padding-bottom: 20px;

    h2.pane-title {
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px;
        font-size: 16px;
    }

    .item-list ul li {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        padding-top: 7px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 23px;

        &.active,
        &:hover {
            background-color: #E0E0E0;
        }

        a {
            display: block;
            width: 100%;
            color: @brand-primary;

            &:hover {
                text-decoration: none;
            }

        }

    }

    .ew-count {
        float: right;
        text-align: center;
        font-size: 12px;
        color: #fff;
        background-color: #bbbbbb;
        border-radius: 50%;
        line-height: 20px;
        width: 20px;
        height: 20px;
    }

}

// Footer Sitemap / Navi

a.ew-sitemap-link {
    display: block;
    width: 100%;
    border-top: 1px solid @brand-primary;
    padding-top: 20px;
    text-decoration: underline;
    color: @brand-primary;
    margin-bottom: 30px;
}

// Footer

.ew-footer-wrapper {
    padding-top: 30px;
    padding-bottom: 60px;
}

.ew-row.footer ul,
.ew-row.footer ul li a,
.ew-row.footer h4,
.ew-row.footer p,
.ew-row.footer a {
    color: #fff;
    text-align: center;
}

.ew-footer-col {

    h4 {
        margin-top: 32px;
        margin-bottom: 22px;
    }

    ul {
        padding-left: 0;

        li {
            list-style-type: none;
        }

    }

}


.ew-footer-col .ew-social-media {
    float: none;
    clear: both;
}
