
@media only screen and (min-width : 992px) {

    // Carousel

    .ew-carousel {
        width: 100%;
        max-width: 940px;
    }

    .ew-carousel .carousel-caption {
        position: absolute;
        background-color: #A82F71;
        top: 60px;
        right: 0;
        left: 130px;
        bottom: 60px;
        padding: 0;
        width: 470px;
        height: 295px;
    }

    .ew-carousel .carousel-caption h1 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px;
        text-align: left;
        color: #fff;
        font-weight: normal;
    }

    .ew-carousel .carousel-caption p {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
        top: 50%;
    }

    .ew-carousel .carousel-caption {
        top: 30px;
        left: 100px;

    }

}
